<a href="https://colab.research.google.com/github/RushilPatel0703/DAE_Project/blob/rushil/test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [46]:
url1 = 'https://raw.githubusercontent.com/RushilPatel0703/DAE_Project/main/eth_illicit_features.csv'
data_1 = pd.read_csv(url1)

url2 = 'https://raw.githubusercontent.com/RushilPatel0703/DAE_Project/main/transaction_dataset.csv'
data_2 = pd.read_csv(url2)

In [42]:
#pd.set_option('max_columns', None)
#pd.set_option('max_rows', None)
#pd.reset_option('max_columns')
pd.reset_option('max_rows')

In [47]:
data_1

,address,flag,minTimeBetweenSentTnx,maxTimeBetweenSentTnx,avgTimeBetweenSentTnx,minTimeBetweenRecTnx,maxTimeBetweenRecTnx,avgTimeBetweenRecTnx,lifetime,sentTransactions,receivedTransactions,createdContracts,numUniqSentAddress,numUniqRecAddress,minValSent,maxValSent,avgValSent,minValReceived,maxValReceived,avgValReceived,totalTransactions,totalEtherSent,totalEtherReceived,totalEtherSentContracts,totalEtherBalance,activityDays,dailyMax,ratioRecSent,ratioSentTotal,ratioRecTotal,giniSent,giniRec,txFreq,stdBalanceEth
0,0xd0cc2b24980cbcca47ef755da88b220a82291407,1,0.0,2387389.0,5.807655e+04,89.0,1.501076e+09,7.148260e+07,46,66,21,0,47,17,0.000000,183.000000,5.559412,0.018779,266.000000,17.486340,87,366.921190,367.213130,0.0,0.291940,10,60,0.313433,0.750000,0.238636,0.969121,0.888782,1.891304,147.701484
1,0x4cdc1cba0aeb5539f2e0ba158281e67e0e54a9b1,1,0.0,0.0,0.000000e+00,3021091.0,1.502802e+09,7.529115e+08,35,0,2,0,0,2,0.000000,0.000000,0.000000,0.003541,0.010000,0.006771,2,0.000000,0.013541,0.0,0.013541,2,1,2.000000,0.000000,0.666667,0.000000,0.238480,0.057143,0.005000
2,0x00e01a648ff41346cdeb873182383333d2184dd1,1,37.0,25112882.0,1.710279e+06,0.0,1.500397e+09,6.820612e+07,299,15,22,0,13,21,0.000000,25.000000,13.330000,0.425099,49.999314,9.100750,37,199.950000,200.216494,0.0,0.266494,14,16,1.375000,0.394737,0.578947,0.465450,0.614205,0.123746,52.129575
3,0x858457daa7e087ad74cdeeceab8419079bc2ca03,1,0.0,642460.0,1.576106e+04,0.0,1.500037e+09,1.352571e+07,36,109,111,0,54,104,0.000000,680.000000,14.959358,0.010000,193.500000,14.689887,220,1630.570000,1630.577419,0.0,0.007419,36,67,1.009091,0.493213,0.502262,0.957906,0.794121,6.111111,233.689231
4,0x240e125c20a4cc84bd6e7f8d1fd07aff4c06d43d,1,0.0,0.0,0.000000e+00,3894.0,1.500402e+09,3.751409e+08,82,1,4,0,1,4,1.900000,1.900000,1.900000,0.002199,1.000000,0.475550,5,1.900000,1.902199,0.0,0.002199,3,3,2.000000,0.166667,0.666667,0.000000,0.406556,0.060976,0.757788
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12141,0x38e404b6ca4549988ced1d065330f1f722787924,0,3.0,15139.0,1.186571e+03,698.0,1.656129e+09,1.275572e+08,25,14,13,0,5,3,0.000701,0.998845,0.221037,0.010000,1.000000,0.238751,27,3.094515,3.103762,0.0,0.009248,24,4,0.866667,0.500000,0.464286,0.643490,0.615051,1.080000,0.236468
12142,0x8f40dac94ac52f90218d9aa5e605fe39dabe3979,0,0.0,411419.0,2.206761e+04,0.0,1.648939e+09,8.295712e+07,149,119,20,0,21,3,0.000000,1.890758,0.136311,0.000000,1.901979,0.731046,139,16.220988,14.620924,0.0,-1.600064,136,3,0.166667,0.850000,0.142857,0.856372,0.289923,0.932886,0.617016
12143,0xb92027b6adee9f63290a5a1bd9d15d6a163f4012,0,0.0,0.0,0.000000e+00,0.0,4.086570e+05,7.712044e+03,48,0,528,1,0,487,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,529,0.000000,0.000000,0.0,0.000000,41,296,528.000000,0.000000,0.996226,0.000000,0.000000,11.020833,0.000000
12144,0x0cd3724542af4be8243eba3f560c0c55c5abd1df,0,0.0,2003867.0,1.412816e+05,223.0,1.647548e+09,1.033063e+08,156,59,16,0,21,7,0.000000,0.620000,0.033431,0.000000,0.581600,0.100469,75,1.972436,1.607504,0.0,-0.364932,69,6,0.266667,0.776316,0.210526,0.907248,0.571522,0.480769,0.161996
12145,0x53d5d85e9a67fc0178a5216fdedde4050a82693e,0,31.0,358300.0,6.264617e+04,86.0,1.657901e+09,5.526368e+08,5,6,3,0,5,1,0.000000,0.009050,0.002162,0.006470,0.020410,0.012197,9,0.012970,0.036590,0.0,0.023620,5,4,0.428571,0.600000,0.300000,0.732554,0.253984,1.800000,0.005314

In [25]:
data_2

,Unnamed: 0,Index,Address,FLAG,Avg min between sent tnx,Avg min between received tnx,Time Diff between first and last (Mins),Sent tnx,Received Tnx,Number of Created Contracts,Unique Received From Addresses,Unique Sent To Addresses,min value received,max value received,avg val received,min val sent,max val sent,avg val sent,min value sent to contract,max val sent to contract,avg value sent to contract,total transactions (including tnx to create contract,total Ether sent,total ether received,total ether sent contracts,total ether balance,Total ERC20 tnxs,ERC20 total Ether received,ERC20 total ether sent,ERC20 total Ether sent contract,ERC20 uniq sent addr,ERC20 uniq rec addr,ERC20 uniq sent addr.1,ERC20 uniq rec contract addr,ERC20 avg time between sent tnx,ERC20 avg time between rec tnx,ERC20 avg time between rec 2 tnx,ERC20 avg time between contract tnx,ERC20 min val rec,ERC20 max val rec,ERC20 avg val rec,ERC20 min val sent,ERC20 max val sent,ERC20 avg val sent,ERC20 min val sent contract,ERC20 max val sent contract,ERC20 avg val sent contract,ERC20 uniq sent token name,ERC20 uniq rec token name,ERC20 most sent token type,ERC20_most_rec_token_type
0,0,1,0x00009277775ac7d0d59eaad8fee3d10ac6c805e8,0,844.26,1093.71,704785.63,721,89,0,40,118,0.000000,45.806785,6.589513,0.000000,31.220000,1.200681,0.0,0.0,0.0,810,865.691093,586.466675,0.0,-279.224419,265.0,3.558854e+07,3.560317e+07,0.0,30.0,54.0,0.0,58.0,0.0,0.0,0.0,0.0,0.00,1.500000e+07,265586.147600,0.000000,1.683100e+07,271779.920000,0.0,0.0,0.0,39.0,57.0,Cofoundit,Numeraire
1,1,2,0x0002b44ddb1476db43c868bd494422ee4c136fed,0,12709.07,2958.44,1218216.73,94,8,0,5,14,0.000000,2.613269,0.385685,0.000000,1.800000,0.032844,0.0,0.0,0.0,102,3.087297,3.085478,0.0,-0.001819,8.0,4.034283e+02,2.260809e+00,0.0,1.0,5.0,0.0,7.0,0.0,0.0,0.0,0.0,0.00,3.650000e+02,57.632615,2.260809,2.260809e+00,2.260809,0.0,0.0,0.0,1.0,7.0,Livepeer Token,Livepeer Token
2,2,3,0x0002bda54cb772d040f779e88eb453cac0daa244,0,246194.54,2434.02,516729.30,2,10,0,10,2,0.113119,1.165453,0.358906,0.050000,3.538616,1.794308,0.0,0.0,0.0,12,3.588616,3.589057,0.0,0.000441,8.0,5.215121e+02,0.000000e+00,0.0,0.0,7.0,0.0,8.0,0.0,0.0,0.0,0.0,0.00,4.428198e+02,65.189009,0.000000,0.000000e+00,0.000000,0.0,0.0,0.0,0.0,8.0,None,XENON
3,3,4,0x00038e6ba2fd5c09aedb96697c8d7b8fa6632e5e,0,10219.60,15785.09,397555.90,25,9,0,7,13,0.000000,500.000000,99.488840,0.000000,450.000000,70.001834,0.0,0.0,0.0,34,1750.045862,895.399559,0.0,-854.646303,14.0,1.711105e+04,1.141223e+04,0.0,2.0,11.0,0.0,11.0,0.0,0.0,0.0,0.0,0.00,1.141223e+04,1555.550174,100.000000,9.029231e+03,3804.076893,0.0,0.0,0.0,1.0,11.0,Raiden,XENON
4,4,5,0x00062d1dd1afb6fb02540ddad9cdebfe568e0d89,0,36.61,10707.77,382472.42,4598,20,1,7,19,0.000000,12.802411,2.671095,0.000000,9.000000,0.022688,0.0,0.0,0.0,4619,104.318883,53.421897,0.0,-50.896986,42.0,1.628297e+05,1.235399e+05,0.0,4.0,23.0,0.0,27.0,0.0,0.0,0.0,0.0,0.00,9.000000e+04,4934.232147,0.000000,4.500000e+04,13726.659220,0.0,0.0,0.0,6.0,27.0,StatusNetwork,EOS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9836,9836,2175,0xff481ca14e6c16b79fc8ab299b4d2387ec8ecdd2,1,12635.10,631.39,58748.48,4,13,0,11,4,0.004082,12.000000,2.821060,0.465461,12.200000,9.166365,0.0,0.0,0.0,17,36.665461,36.673777,0.0,0.008316,2.0,1.337000e+00,0.000000e+00,0.0,0.0,2.0,0.0,2.0,0.0,0.0,0.0,0.0,0.00,1.337000e+00,0.668500,0.000000,0.000000e+00,0.000000,0.0,0.0,0.0,0.0,2.0,,GSENetwork
9837,9837,2176,0xff718805bb9199ebf024ab6acd333e603ad77c85,1,0.00,0.00,0.00,0,0,0,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0,0.000000,0.000000,0.0,0.000000,1.0,1.337000e+01,0.000000e+00,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,13.37,1.337000e+01,13.370000,0.000000,0.000000e+00,0.000000,0.0,0.0,0.0,0.0,1.0,,Blockwell say NOTSAFU
9838,9838,2177,0xff8e6af02d41a576a0c82f7835535193e1a6bccc,1,2499.44,2189.29,261601.88,67,43,0,31,44,0.001078,21.310000,1.234192,0.004000,9.500000,0.922179,0.0,0.0,0.0,110,61.785995,53.070252,0.0,-8.715743,5.0,1.503470e+03,0.000000e+00,0.0,0.0,5.0,0.0,5.0,0.0,0.0,0.0,0.0,0.00,1.500000e+03,300.693901,0.000000,0.000000e+00,0.000000,0.0,0.0,0.0,0.0,5.0,,Free BOB Tokens - BobsRepair.com
9839,9839,2178,0xffde23396d57e10abf58bd929bb1e856c7718218,1,0.00,0.00,0.00,0,1,0,1,0,0.500000,0.500000,0.500000,0.000000,0.000000,0.000000,0.0,0.0,0.0,1,0.000000,0.500000,0.0,0.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9840,9840,2179,0xd624d046edbdef805c5e4140dce5fb5ec1b39a3c,1,37242.70,149.56,670817.33,18,3,0,1,5,0.795233,18998.000000,6333.265078,0.900000,1000.000000,644.427778,0.0,0.0,0.0,21,11599.700000,18999.795230,0.0,7400.095233,44.0,6.007075e+04,0.000000e+00,0.0,0.0,37.0,0.0,42.0,0.0,0.0,0.0,0.0,0.00,2.018061e+04,1365.244359,0.000000,0.000000e+00,0.000000,0.0,0.0,0.0,0.0,42.0,,INS Promo1

In [49]:
# dropping columns not in common with data_2
data_1.drop(['minTimeBetweenSentTnx', 'maxTimeBetweenSentTnx', 'minTimeBetweenRecTnx', 'maxTimeBetweenRecTnx', 'lifetime', 'activityDays',
       'dailyMax', 'ratioRecSent', 'ratioSentTotal', 'ratioRecTotal',
       'giniSent', 'giniRec', 'txFreq', 'stdBalanceEth'], inplace=True, axis=1)

In [68]:
data_1.columns

Index(['address', 'flag', 'avgTimeBetweenSentTnx', 'avgTimeBetweenRecTnx',
       'sentTransactions', 'receivedTransactions', 'createdContracts',
       'numUniqSentAddress', 'numUniqRecAddress', 'minValSent', 'maxValSent',
       'avgValSent', 'minValReceived', 'maxValReceived', 'avgValReceived',
       'totalTransactions', 'totalEtherSent', 'totalEtherReceived',
       'totalEtherSentContracts', 'totalEtherBalance'],
      dtype='object')

In [52]:
# dropping columns not in common with data_1
data_2.drop(['Unnamed: 0', 'Index', 'Time Diff between first and last (Mins)',
       'min value sent to contract', 'max val sent to contract', 'avg value sent to contract',
       ' Total ERC20 tnxs', ' ERC20 total Ether received',
       ' ERC20 total ether sent', ' ERC20 total Ether sent contract',
       ' ERC20 uniq sent addr', ' ERC20 uniq rec addr',
       ' ERC20 uniq sent addr.1', ' ERC20 uniq rec contract addr',
       ' ERC20 avg time between sent tnx', ' ERC20 avg time between rec tnx',
       ' ERC20 avg time between rec 2 tnx',
       ' ERC20 avg time between contract tnx', ' ERC20 min val rec',
       ' ERC20 max val rec', ' ERC20 avg val rec', ' ERC20 min val sent',
       ' ERC20 max val sent', ' ERC20 avg val sent',
       ' ERC20 min val sent contract', ' ERC20 max val sent contract',
       ' ERC20 avg val sent contract', ' ERC20 uniq sent token name',
       ' ERC20 uniq rec token name', ' ERC20 most sent token type',
       ' ERC20_most_rec_token_type'], inplace=True, axis=1)

In [75]:
data_2.columns

Index(['address', 'flag', 'avgTimeBetweenSentTnx', 'avgTimeBetweenRecTnx',
       'sentTransactions', 'receivedTransactions', 'createdContracts',
       'numUniqRecAddress', 'numUniqSentAddress', 'minValReceived',
       'maxValReceived', 'avgValReceived', 'minValSent', 'maxValSent',
       'avgValSent', 'totalTransactions', 'totalEtherSent',
       'totalEtherReceived', 'totalEtherSentContracts', 'totalEtherBalance'],
      dtype='object')

In [74]:
# renaming columns to column names in data_1 for ease of
data_2.rename(columns= {'Address':'address', 'FLAG':'flag', 'Avg min between sent tnx':'avgTimeBetweenSentTnx',
                        'Avg min between received tnx':'avgTimeBetweenRecTnx', 'Sent tnx':'sentTransactions',
                        'Received Tnx':'receivedTransactions', 'Number of Created Contracts':'createdContracts',
                        'Unique Received From Addresses':'numUniqRecAddress', 'Unique Sent To Addresses':'numUniqSentAddress',
                        'min value received':'minValReceived','max value received ':'maxValReceived',
                        'avg val received':'avgValReceived', 'min val sent':'minValSent', 'max val sent':'maxValSent',
                        'avg val sent': 'avgValSent', 'total transactions (including tnx to create contract':'totalTransactions',
                        'total Ether sent':'totalEtherSent', 'total ether received':'totalEtherReceived',
                        'total ether sent contracts':'totalEtherSentContracts', 'total ether balance':'totalEtherBalance'}, inplace=True)

In [79]:
df = pd.concat([data_1, data_2]) # combine data_1 and data_2

In [80]:
df.columns

Index(['address', 'flag', 'avgTimeBetweenSentTnx', 'avgTimeBetweenRecTnx',
       'sentTransactions', 'receivedTransactions', 'createdContracts',
       'numUniqSentAddress', 'numUniqRecAddress', 'minValSent', 'maxValSent',
       'avgValSent', 'minValReceived', 'maxValReceived', 'avgValReceived',
       'totalTransactions', 'totalEtherSent', 'totalEtherReceived',
       'totalEtherSentContracts', 'totalEtherBalance'],
      dtype='object')

In [81]:
df # final dataset to use

,address,flag,avgTimeBetweenSentTnx,avgTimeBetweenRecTnx,sentTransactions,receivedTransactions,createdContracts,numUniqSentAddress,numUniqRecAddress,minValSent,maxValSent,avgValSent,minValReceived,maxValReceived,avgValReceived,totalTransactions,totalEtherSent,totalEtherReceived,totalEtherSentContracts,totalEtherBalance
0,0xd0cc2b24980cbcca47ef755da88b220a82291407,1,5.807655e+04,7.148260e+07,66,21,0,47,17,0.000000,183.0,5.559412,0.018779,266.000000,17.486340,87,366.921190,367.213130,0.0,0.291940
1,0x4cdc1cba0aeb5539f2e0ba158281e67e0e54a9b1,1,0.000000e+00,7.529115e+08,0,2,0,0,2,0.000000,0.0,0.000000,0.003541,0.010000,0.006771,2,0.000000,0.013541,0.0,0.013541
2,0x00e01a648ff41346cdeb873182383333d2184dd1,1,1.710279e+06,6.820612e+07,15,22,0,13,21,0.000000,25.0,13.330000,0.425099,49.999314,9.100750,37,199.950000,200.216494,0.0,0.266494
3,0x858457daa7e087ad74cdeeceab8419079bc2ca03,1,1.576106e+04,1.352571e+07,109,111,0,54,104,0.000000,680.0,14.959358,0.010000,193.500000,14.689887,220,1630.570000,1630.577419,0.0,0.007419
4,0x240e125c20a4cc84bd6e7f8d1fd07aff4c06d43d,1,0.000000e+00,3.751409e+08,1,4,0,1,4,1.900000,1.9,1.900000,0.002199,1.000000,0.475550,5,1.900000,1.902199,0.0,0.002199
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9836,0xff481ca14e6c16b79fc8ab299b4d2387ec8ecdd2,1,1.263510e+04,6.313900e+02,4,13,0,4,11,0.465461,12.2,9.166365,0.004082,12.000000,2.821060,17,36.665461,36.673777,0.0,0.008316
9837,0xff718805bb9199ebf024ab6acd333e603ad77c85,1,0.000000e+00,0.000000e+00,0,0,0,0,0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0,0.000000,0.000000,0.0,0.000000
9838,0xff8e6af02d41a576a0c82f7835535193e1a6bccc,1,2.499440e+03,2.189290e+03,67,43,0,44,31,0.004000,9.5,0.922179,0.001078,21.310000,1.234192,110,61.785995,53.070252,0.0,-8.715743
9839,0xffde23396d57e10abf58bd929bb1e856c7718218,1,0.000000e+00,0.000000e+00,0,1,0,0,1,0.000000,0.0,0.000000,0.500000,0.500000,0.500000,1,0.000000,0.500000,0.0,0.500000
9840,0xd624d046edbdef805c5e4140dce5fb5ec1b39a3c,1,3.724270e+04,1.495600e+02,18,3,0,5,1,0.900000,1000.0,644.427778,0.795233,18998.000000,6333.265078,21,11599.700000,18999.795230,0.0,7400.095233